<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.homework">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AuthActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Registration1"
            android:label="@string/title_activity_registration1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Registration2"
            android:label="@string/title_activity_registration2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminOptions"
            android:label="@string/title_activity_admin_options"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminAuth"
            android:label="@string/title_activity_admin_auth"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddNewHometask"
            android:label="@string/title_activity_add_new_hometask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddFileToProfile"
            android:label="@string/title_activity_add_file_to_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EditHometaskActivity"
            android:label="EditHometaskActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>